#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <200>;
};

&lt { quick-tap-ms = <200>; };

&trackball {
    // automouse-layer = <4>;

    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        click1 {
            bindings = <&mkp MB1>;
            key-positions = <31 32>;
        };

        click2 {
            bindings = <&mkp MB2>;
            key-positions = <32 33>;
        };

        scroll {
            bindings = <&lt 5 RCTRL>;
            key-positions = <31 33>;
        };

        layer5 {
            bindings = <&lt 5 A>;
            key-positions = <17 21>;
        };

        layer4 {
            bindings = <&lt 4 SPACE>;
            key-positions = <0 4>;
        };
    };

    macros {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&lt 0 A>;
            label = "LT_TO_LAYER_0";
        };

        Excel_reduction: Excell_group {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(Y) &kp N5 &kp Y &kp N8>;
            label = "EXCELL_GROUP";
        };

        Excel_redsq: Excel_redsq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(Y) &kp N5 &kp Y &kp N1>;
            label = "EXCEL_REDSQ";
        };

        Excel_group: Excel_group {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(J) &kp P &kp A &kp G &kp G>;
            label = "EXCEL_GROUP";
        };

        sakura_macro_1: sakura_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(T) &kp T &kp B &kp ENTER>;
            label = "SAKURA_MACRO_1";
        };

        sakura_macro_2: sakura_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(T) &kp T &kp B &kp DOWN_ARROW &kp ENTER>;
            label = "SAKURA_MACRO_2";
        };

        sakura_macro_3: sakura_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(T) &kp T &kp B &kp DOWN_ARROW &kp DOWN_ARROW &kp ENTER>;
            label = "SAKURA_MACRO_3";
        };

        sakura_macro_4: sakura_macro_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(T) &kp T &kp B &kp DOWN_ARROW &kp DOWN_ARROW &kp DOWN_ARROW &kp ENTER>;
            label = "SAKURA_MACRO_4";
        };

        sakura_macro_5: sakura_macro_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(T) &kp T &kp B &kp DOWN_ARROW &kp DOWN_ARROW &kp DOWN_ARROW &kp DOWN_ARROW &kp ENTER>;
            label = "SAKURA_MACRO_5";
        };
    };

    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-toggle-layer";
            label = "NEW_BEHAVIOR";
            #binding-cells = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W           &kp E             &kp R        &kp T                                           &kp Y                      &kp U  &kp I  &kp O  &kp P
&kp A      &kp S           &kp D             &kp F        &kp G        &kp UP         &kp DOWN            &kp H                      &kp J  &kp K  &kp L  &kp SQT
&kp Z      &kp X           &kp C             &kp V        &kp B        &kp LEFT       &kp RIGHT           &kp N                      &kp M  &none  &none  &none
&kp LCTRL  &kp LEFT_SHIFT  &mt LEFT_ALT DEL  &lt 1 GRAVE  &lt 2 SPACE  &lt 3 TAB      &mt LEFT_WIN ENTER  &mt RIGHT_SHIFT BACKSPACE                       &lt 4 LEFT_BRACKET
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM {
            bindings = <
&kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3           &kp NUMBER_4  &kp N5                                  &kp NUMBER_6  &kp N7               &kp N8                   &kp N9      &kp N0
&kp LS(SEMI)    &kp MINUS     &kp LS(DOUBLE_QUOTES)  &kp SLASH     &kp UNDER  &kp UP_ARROW      &kp DOWN   &kp EQUAL     &kp INTERNATIONAL_3  &kp LS(INTERNATIONAL_1)  &trans      &trans
&kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW         &kp RIGHT     &trans     &kp LEFT          &kp RIGHT  &trans        &none                &kp COMMA                &kp PERIOD  &kp QUESTION
&trans          &trans        &trans                 &trans        &trans     &trans            &trans     &trans                                                                  &trans
            >;
        };

        SQL {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH           &kp DOLLAR       &kp PERCENT                                   &kp SQT               &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL         &kp TILDE
&trans           &kp LESS_THAN      &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp ASTERISK  &kp PAGE_UP      &kp PAGE_DOWN  &kp LEFT_PARENTHESIS  &kp PIPE              &kp BACKSLASH          &kp GREATER_THAN  &trans
&trans           &trans             &trans             &trans           &trans        &kp HOME         &kp END        &trans                &trans                &kp SEMICOLON          &kp SQT           &trans
&trans           &trans             &trans             &trans           &trans        &trans           &trans         &trans                                                                               &trans
            >;
        };

        FUNCTION {
            bindings = <
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5                                     &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
&kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &kp ESC          &kp CAPSLOCK     &kp F16  &kp F17  &kp F18  &kp F19  &kp F20
&trans   &trans   &trans   &trans   &trans   &kp C_PAUSE      &kp PAUSE_BREAK  &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans           &trans           &trans                              &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
            label = "FUNCTION";
        };

        SETTING {
            bindings = <
&trans  &trans  &trans  &trans  &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans      &trans       &trans        &trans        &trans        &bt BT_CLR    &bt BT_CLR_ALL
&trans  &trans  &trans  &trans  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans       &trans                                                  &none
            >;
        };

        macro {
            bindings = <
&Excel_reduction  &Excel_group     &Excel_redsq     &Excel_reduction  &trans                               &trans  &trans  &trans    &trans  &trans
&sakura_macro_1   &sakura_macro_2  &sakura_macro_3  &sakura_macro_4   &sakura_macro_5  &trans      &trans  &trans  &trans  &trans    &trans  &trans
&kp LANGUAGE_1    &kp LANGUAGE_2   &kp LANGUAGE_3   &kp INT9          &trans           &trans      &trans  &trans  &trans  &mkp MB1  &trans  &trans
&trans            &trans           &trans           &trans            &trans           &trans      &trans  &trans                            &trans
            >;
        };
    };
};
